In [24]:
! ls

Aditya Birla Sun Life Mutual Fund.txt
age Data
data observing.ipynb
Deliverables.docx
featurestry.py
filewisefund.npy
fundtypenames.pkl
gc.sublime-workspace
HDFC Mutual Fund.txt
ICICI Prudential Mutual Fund.txt
Instruction to get Mutual Fund data.docx
Marking Scheme - Inter Hall IIT KGP.docx
MF_IIT_DATA_V1.csv
Problem Statement - Inter Hall IIT KGP.docx
Reliance Mutual Fund.txt
SBI Mutual Fund.txt
schemes.pkl
sector Data
Sundaram Mutual Fund.txt
Tata Mutual Fund.txt
Untitled1.ipynb
Untitled2.ipynb
Untitled.ipynb
UTI Mutual Fund.txt

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
% matplotlib inline
import tqdm as tqdm
import os
import pickle as pkl

#### List of Fun Houses

In [2]:
files = os.listdir(os.getcwd())
for index, i in enumerate(np.array(files)):
    if i[-3:] != 'txt':
        #print(type(i))
        files.remove(i)

In [10]:
files[1][:-4]

'HDFC Mutual Fund'

#### functions for finding words and storing lines in a file

In [3]:
def numb(file, word):
    with open(file) as f:
        contents = f.read()
        count = contents.count(word)
    return count

In [4]:
def reqline(file, word):
    a = []
    l = []
    with open(file) as f:
        for i, lines in enumerate(f):
            if word in lines:
                a.append(lines[:-1])
                l.append(i)
    return a, l

In [6]:
for f in files:
    print(numb(f, 'Open Ended Schemes'))

11
10
10
9
10
7
8
10

#### Total number of fund houses

In [5]:
a = np.array([])
for f in files:
    #print(f)
    a = np.append(a, reqline(f, 'Open Ended Schemes')[0])
funds = np.unique(a)
del a
print(funds)

['Open Ended Schemes ( Balanced )' 'Open Ended Schemes ( ELSS )'
 'Open Ended Schemes ( Floating Rate )'
 'Open Ended Schemes ( Fund of Funds - Domestic )'
 'Open Ended Schemes ( Fund of Funds - Overseas )'
 'Open Ended Schemes ( GOLD ETFs )' 'Open Ended Schemes ( Gilt )'
 'Open Ended Schemes ( Growth )' 'Open Ended Schemes ( Income )'
 'Open Ended Schemes ( Liquid )' 'Open Ended Schemes ( Money Market )'
 'Open Ended Schemes ( Other ETFs )']

#### Ids for extracting data from dataframe of each fund house

In [6]:
ids = []
for i in files:
    l = []
    temp = pd.read_csv(i, delimiter = ';', low_memory=False)
    for p, q in enumerate(list(temp['Scheme Code'].values)):
        if q == i[:-4]:
            l.append(p)
    ids.append(l)

In [25]:
np.save('fundtypenames', funds)

##### Fund type in each fund house

In [7]:
a = []
for f in files:
    a.append(reqline(f, 'Open Ended Schemes')[0])

In [23]:
np.save('filewisefund', a)

##### Fund houses in each fund type

In [31]:
a = []
for t in funds:
    c = []
    for f in files:
        if numb(f, t) == 1:
            c.append(f)
    a.append(c)

In [35]:
np.save('fundwisefile', a)

#### data extraction fund type wise

In [41]:
t2 = []
fundtype = []
for t in funds:
    funddata = []
    t1 = []
    for i, f in tqdm.tqdm(enumerate(files)):
        if numb(f, t) == 1:
            temp = reqline(f, 'Open Ended Schemes')[0].index(t)
            data = pd.read_csv(f, delimiter = ';', low_memory=False)
            if temp+1 != len(ids[i]):
                funddata.append(data[ids[i][temp]+1:ids[i][temp+1]-1])
                t1.append([f[:-4]]*len(range(ids[i][temp]+1,ids[i][temp+1]-1)))
            else:
                temp3 = len(data)
                funddata.append(data[ids[i][temp]+1:])
                t1.append([f[:-4]]*len(range(ids[i][temp]+1,temp3)))
    t2.append(t1)
    fundtype.append(funddata)

8it [00:11,  1.41s/it]
8it [00:06,  1.18it/s]
8it [00:03,  2.11it/s]
8it [00:05,  1.56it/s]
8it [00:03,  2.26it/s]
8it [00:05,  1.41it/s]
8it [00:06,  1.22it/s]
8it [00:06,  1.21it/s]
8it [00:07,  1.04it/s]
8it [00:16,  2.06s/it]
8it [00:09,  1.13s/it]
8it [00:53,  6.70s/it]

In [53]:
final = []
for i in range(12):
    final1 = np.array([])
    for j in t2[i]:
        final1 = np.append(final1, np.array(j))
    final.append(pd.DataFrame(final1, columns = ['Fund House']))

In [55]:
final[0]

                              Fund House
0      Aditya Birla Sun Life Mutual Fund
1      Aditya Birla Sun Life Mutual Fund
2      Aditya Birla Sun Life Mutual Fund
3      Aditya Birla Sun Life Mutual Fund
4      Aditya Birla Sun Life Mutual Fund
5      Aditya Birla Sun Life Mutual Fund
6      Aditya Birla Sun Life Mutual Fund
7      Aditya Birla Sun Life Mutual Fund
8      Aditya Birla Sun Life Mutual Fund
9      Aditya Birla Sun Life Mutual Fund
10     Aditya Birla Sun Life Mutual Fund
11     Aditya Birla Sun Life Mutual Fund
12     Aditya Birla Sun Life Mutual Fund
13     Aditya Birla Sun Life Mutual Fund
14     Aditya Birla Sun Life Mutual Fund
15     Aditya Birla Sun Life Mutual Fund
16     Aditya Birla Sun Life Mutual Fund
17     Aditya Birla Sun Life Mutual Fund
18     Aditya Birla Sun Life Mutual Fund
19     Aditya Birla Sun Life Mutual Fund
20     Aditya Birla Sun Life Mutual Fund
21     Aditya Birla Sun Life Mutual Fund
22     Aditya Birla Sun Life Mutual Fund
23     Aditya Birla Sun Life Mutual Fund
24     Aditya Birla Sun Life Mutual Fund
25     Aditya Birla Sun Life Mutual Fund
26     Aditya Birla Sun Life Mutual Fund
27     Aditya Birla Sun Life Mutual Fund
28     Aditya Birla Sun Life Mutual Fund
29     Aditya Birla Sun Life Mutual Fund
...                                  ...
68006                    UTI Mutual Fund
68007                    UTI Mutual Fund
68008                    UTI Mutual Fund
68009                    UTI Mutual Fund
68010                    UTI Mutual Fund
68011                    UTI Mutual Fund
68012                    UTI Mutual Fund
68013                    UTI Mutual Fund
68014                    UTI Mutual Fund
68015                    UTI Mutual Fund
68016                    UTI Mutual Fund
68017                    UTI Mutual Fund
68018                    UTI Mutual Fund
68019                    UTI Mutual Fund
68020                    UTI Mutual Fund
68021                    UTI Mutual Fund
68022                    UTI Mutual Fund
68023                    UTI Mutual Fund
68024                    UTI Mutual Fund
68025                    UTI Mutual Fund
68026                    UTI Mutual Fund
68027                    UTI Mutual Fund
68028                    UTI Mutual Fund
68029                    UTI Mutual Fund
68030                    UTI Mutual Fund
68031                    UTI Mutual Fund
68032                    UTI Mutual Fund
68033                    UTI Mutual Fund
68034                    UTI Mutual Fund
68035                    UTI Mutual Fund

[68036 rows x 1 columns]

In [122]:
temp = []
for i in range(12):
    temp.append(pd.concat(fundtype[i]))
fundtype = temp
del temp

In [126]:
pkl.dump(fundtype, open('fundwise.pkl', 'wb'))

In [ ]:
for i in range(12):
    fundtype[i].to_csv('fundtype'+'/'+funds[i][21:-2]+'.csv')